<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>SIstema COntrol de DESpacho</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->

    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <!-- <link rel="stylesheet" href="{{=URL('static','fontawesome/web-fonts-with-css/css/fontawesome-all.min.css')}}"/> -->
    <link rel="stylesheet" href="{{=URL('static','fontawesome/web-fonts-with-css/css/fontawesome-all.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/f2s.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" /> -->
	<link href="{{=URL('static','assets/plugins/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet" />
	<link href="{{=URL('static','assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css')}}" rel="stylesheet" />
	<!-- <link href="{{=URL('static','assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css')}}" rel="stylesheet" /> -->
	<link href="{{=URL('static','fontawesome-free-5.10.2-web/css/all.css')}}" rel="stylesheet" />
	<link href="{{=URL('static','assets/plugins/animate/animate.min.css')}}" rel="stylesheet" />
	<link href="{{=URL('static','assets/css/default/style.min.css')}}" rel="stylesheet" />
	<link href="{{=URL('static','assets/css/default/style-responsive.min.css')}}" rel="stylesheet" />
	<link href="{{=URL('static','assets/css/default/theme/default.css')}}" rel="stylesheet" id="theme" />
	<link href="{{=URL('static','css/f2s.css')}}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<!-- <script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
  </head>

<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default ">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				{{=A(IMG(_src=URL('static','images/Logo_Solucion_en_linea.svg'),_alt='Solucion en linea',_height="70px"),_href="http://www.solucionenlinea.com")}}
        {{#=IMG(_src=URL('static','images/logo3.png'),_alt='MaquiTodo',_height="70px")}}

        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        </button>
			</div>
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown" id="id_Mensajes">
				</li>
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<!-- <img src="../assets/img/user/user-13.jpg" alt="" /> -->
						<span class="d-none d-md-inline">{{if auth.user:}}{{=auth.user.first_name}} {{=auth.user.last_name}} {{else:}}LOGIN{{pass}}</span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="{{=URL('usuario','index')}}" class="dropdown-item">Perfil</a>
						<div class="dropdown-divider"></div>
						<a href="{{=URL('default','user/logout')}}" class="dropdown-item">{{=T('Logout')}}</a>


					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<br>
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
        {{=fun_Menu()}}
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>

		<div id="content" name="content" class="content">
			<br><br>
			{{include}}
			<!-- end row -->
		</div>

		<!-- end #content -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{=URL('static','assets/plugins/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{=URL('static','assets/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
	<script src="{{=URL('static','assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js')}}"></script>
	<!--[if lt IE 9]>
		<script src="{{=URL('static','assets/crossbrowserjs/html5shiv.js')}}"></script>
		<script src="{{=URL('static','assets/crossbrowserjs/respond.min.js')}}"></script>
		<script src="{{=URL('static','assets/crossbrowserjs/excanvas.min.js')}}"></script>
	<![endif]-->
	<script src="{{=URL('static','assets/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
	<script src="{{=URL('static','assets/plugins/js-cookie/js.cookie.js')}}"></script>
	<script src="{{=URL('static','assets/js/theme/default.min.js')}}"></script>
	<script src="{{=URL('static','assets/js/apps.min.js')}}"></script>

	<!-- ================== END BASE JS ================== -->
{{if auth.user:}}
<script>
    var mensaje=setInterval(function () {
      ajax('{{=URL("default","Mensajes")}}',['usr'],':eval');
    }, 20000);
</script>
{{pass}}
  {{block page_js}}{{end page_js}}

	<script>
		$(document).ready(function() {
			App.init();

		});

	</script>
</body>
</html>
