<div class="modal fade" id="DialModal" name="DialModal" tabindex="-1" role="dialog" aria-labelledby="DialModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modalEncabezado" name="modalEncabezado">
      </div>
      <div class="modal-body" id="modalCuepo" name="modalCuepo">
      </div>
      <div class="modal-footer" id="modalPie" name="modalPie">
      </div>
    </div>
  </div>
</div>
